.founder__Container{
    width: 100%;
}
.founder-text{
    top: -7rem;
    background: #fff;
    width: 80vw;
    margin: 0 auto;
}
.founder{
    width: 90%;
    margin:  0 auto;
    color:#fff;
    background-color: transparent;
}
.card{
    border: unset;
}
.card-header{
    background: transparent;
}